html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url("https://goo.gl/dgGFtx") no-repeat center center;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

form {
    background: #faf5f3;
    width: 280px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: absolute;
    z-index: 10;
    padding: 20px 60px 80px;
    left: 50%;
    margin-left: -230px;
    opacity: 0.97;
}

form h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    color: #2f1f1e;
    letter-spacing: 0.061em;
    margin-top: 60px;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    background: #fff;
    text-align: center;
    margin-bottom: 25px;
    box-shadow: none;
    /* appearance: none; */
    border: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #ebd7cf;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 11px;
    position: relative;
    z-index: 500;
    letter-spacing: 0.06em;
}

form input:focus {
    border: 1px solid #ebd7cf;
    outline: none;
    /* appearance: none; */
}

form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

form input#submit {
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
    position: relative;
    z-index: 500;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    background: #ec7242;
    color: #fff;
    width: 101%;
    transition: 0.8s all ease;
}

#submit:hover {
    background: #d6673c;
    transform: translateY(1px);
    transition: 0.4s all ease;
}

#sentence_length {
    margin-top: 20px;
}

.quote {
    color: rgb(120, 150, 158);
    font-family: menlo;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
}

.quote-block {
    letter-spacing: 2px;
    font-weight: bold;
    display: inline-block;
    margin: 1em 50em 1em 1em;
    padding: 2.5em;
    background-color: rgb(15, 50, 75);
    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.signature {
    color: rgb(250, 50, 46);
    font-family: melo;
    font-style: italic;
    font-size: 1.2em;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1em 0em 1em 0em;
    align-items: baseline;
}

.new-quote {
    font-family: menlo;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 91, 113);
    font-weight: bold;
    font-size: .8em;
    border-color: rgb(15, 50, 75);
    padding: .3em 1.5em .3em 1.5em;
    border-radius: .5em;
    cursor: pointer;
}

.new-quote:hover {
    opacity: 0.4;
    color: black;
}

#form {
    opacity: 0;
}